*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', serif;
}

/* navbar */
.navbar{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    line-clamp: inherit;
    /* text-align: center; */
    /* align-items: center; */
}

/* navbar logo */
.navbar .logo {
    font-size: 2rem;
    font-weight: bold;
}
.navbar .logo p{
    font-family: 'montserrat', serif;
    color:rgb(187, 127, 36);
}
.navbar .logo span{
    font-family: 'montserrat', serif;
    color: #4B2E2E;
}

/* navbar listnav */
.navbar .listnav ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 20rem;
    justify-content: space-between;
    background-color: white;
}
.navbar .listnav li{
    list-style-type: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.navbar .listnav li::after{
    content: "";
    border-bottom: .2rem solid rgb(187, 127, 36);
    padding-bottom: .3rem;
    display: block;
    transform: scaleX(0);
    transition: .1s ease;
}
.navbar .listnav li:hover::after{
    transform: scaleX(.8);
}

/* navbar cart */
.navbar .cart{
    display: flex;
    justify-content: space-around;
    width: 5rem;
    /* background-color: aqua; */
}
.navbar .cart i{
    cursor: pointer;
}

/* main page */
/* main page hero top */
.Mainpage{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/Home_page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -400px;
    width: 100%;
    height: 41rem;
    color: white;
    font-weight: bold;
    font-style: 'poppins', serif;
}
.Mainpage .text {
    text-align: center;
}
.Mainpage .text h1{
    color: rgb(187, 127, 36);
    text-shadow: 5px 5px 5px black;
    font-size: 3.5rem;
    font-style: italic;
}
.Mainpage .text h2{
    text-shadow: 5px 5px 5px black;
}

/* main page middle */
.aboutus{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 46rem;
    background-image: url("../img/vision.jpg");
    background-size: cover;
}
.aboutus .aboutwrapper {
    display: flex;
    width: 100%;
    height: 46rem;
    align-items: center;
    justify-content: space-around;
}
.aboutus .aboutwrapper .Square{
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, .6);
    align-items: center;
    text-align: center;
}
.aboutus .aboutwrapper .Square p{
    margin-top: 1rem;
    font-size: 1.4rem;
    text-align: start;
}
.aboutus .aboutwrapper .Square h3{
    font-size: 2rem;
    text-decoration: underline;
}